body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.map {
    display: inline-block;
}

.row {
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;

}

#point {
    height: 20px;
    width: 20px;
    border: solid 1px black;
}

/* .wall {
    background-color: rgb(177, 177, 248);
}

.player {
    background-color: beige;
}

.box {
    background-color: brown;
}

.goal {
    background-color: green;
}

.box_on_goal {
    background-color: yellow;
}

.player_on_goal {
    background-color: violet;
}

.floor {
    background-color: white;
} */

button {
    height: 30px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    background-color: white;
}

input {
    border-radius: 20px;
    height: 30px;
    width: 150px;
}

.loadingBar {
    border: solid 1px black;
    width: 400px;
    height: 22px;
    background-color: #c3bac3;
    border-radius: 20px;
}

.loadingBarIndicator {
    height: 100%;
    color: black;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #5c1128;
    border-radius: 20px;
}

footer {
    display: inline;
}

.winBannerMain {
    color: white;
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.winBannerSub {
    color: white;
    position: relative;
    font-size: 20px;
}

.winBannerBG {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    /* insteadof black, add translucent image */
    text-align: center;
}

/* .winBannerDisappear {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
} */

.nextLevel {
    position: relative;
    display: block;
    margin: 0 auto;
}